
/*font-family: 'M PLUS 1', sans-serif; usar esta fuente para las letras de toda la pagina*/

.title{
    font-family: 'Inspiration', cursive;
    font-size: 35px;
    transition: all .8s ease-in ;
    cursor: pointer;
}
/*bar top*/

.bar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.bar .logo{
    display: flex;
    justify-content: space-evenly;
    margin-left: 2em;
    
}
.title{
    text-align: center;
    margin-left: 0.5em;
}


.bar .logo .img{
    width: 80px;
    height: "";
}

.bar_right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 3em;

}
.bar_right a{
    display: block;
    margin: 1.3em;
    text-decoration: none;
    font-family: 'M PLUS 1', sans-serif; 
    border: 1px solid black;

}
.buttons{
    font-size: 20px;
    padding: 0.3em;
    color: black;
    transition: all 0.8s ease-in-out;
}
/*hovers*/

.title:hover{
    color: rgb(192, 134, 247);
    transform: translateY(-1px)
    
}

.buttons:hover{
    border-radius: 10px;
    background-color: rgb(192, 134, 247);
    color: white;
    border: 1px solid rgb(192, 134, 247);
    box-shadow: 7px 5px 7px 2px rgba(192,134,247,0.3);
}
