.main {
    
    font-family: 'M PLUS 1', sans-serif;
}

h3{
    font-family: 'M PLUS 1', sans-serif;
    color: indigo;
    margin-top: 2em;
}

h1{
    font-family: 'M PLUS 1', sans-serif;
    color: indigo;
    margin-top: 2em;
}

